<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/output.css')}}">
    <title>output</title>
</head>
<body  onload="flashMessage()">
    <script>
        function flashMessage() {
          if ("{{ flash_message }}" == "True") {
            alert("No Bfs Possible,only the starting index");
          }
        }
      </script>
    <h2 class="h">Breath First Search:</h2>
<div class="output">
  <div class="bfs">
    <h3>BFS:</h3>
      {% for i in output2 %}
      <p>{{ i }}</p>
      {% endfor %}
  </div>
  <div class="mermaid">
      graph TD
      {{output_bfs}}
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
    <script>mermaid.initialize({startOnLoad:true});</script>
</body>
</html>